.git
.gitignore
.venv
venv
**/__pycache__
**/.ipynb_checkpoints
app/client/.next
app/client/node_modules
docs
notebooks
prediction
scripts
models/*.pt
models/*.pth
models/*.npy
models/*.csv
*.log
.env
